<div class="card" [ngClass]="{'esFondoRojo':fondoRojo,'esFondoAzul':fondoAzul}">
  <a [routerLink]="['/eventos',ev.id]">
  <img class="card-img-top" [src]="ev.imagen" [alt]="ev.nombre" [title]="ev.nombre" [style.height.px]="alturaImagen">
</a>
  <div class="card-body">
    <a [routerLink]="['/eventos',ev.id]">
    <h4 class="card-title">{{ev.nombre}}</h4>
  </a>
    <p class="card-text">{{ev.descripcion|titlecase}}</p>
  </div>
  <div class="card-footer text-muted">
    {{ev.fecha|date:"dd/MM/y"}}
    <span class="float-right">{{ev.precio|currency:"EUR"}}</span>
  </div>
  <button class="btn btn-danger ml-3 float-right" (click)="deleteEvent()">Delete</button>
</div>

